<div><h1>REGISTRATION</h1></div>
<div>
  <table>
    <thead>
      <tr>
        <th>Registration</th>
        <th>Fees</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Full registration</td>
        <td>$500</td>
      </tr>
      <tr>
        <td>Student registration</td>
        <td>$250</td>
      </tr>
      <tr>
        <td>One-day registration</td>
        <td>$150</td>
      </tr>
      <tr>
        <td>Workshop registration</td>
        <td>$100</td>
      </tr>
    </tbody>
  </table>
</div>
<div><p [innerHTML]="content"></p></div>

<div class="wrapper">
  <form>
    <h2>ATTEENDEES</h2>
    <div class="form-group">
      <label for="First name">First name :</label><br />
      <input
        type="text"
        class="form-control"
        id="First name"
        name="First name"
      />
    </div>
    <div class="form-group">
      <label for="prenom">last name :</label><br />
      <input type="text" class="form-control" id="last name" name="last name" />
    </div>
    <div class="form-group">
      <label for="email">Email :</label><br />
      <input type="email" class="form-control" id="email" name="email" />
    </div>

    <div class="form-group">
      <label>Payment:</label><br />
      <input type="file" accept=".pdf" id="file" name="file" />
    </div>
    <button type="submit">send</button>
  </form>

  <form>
    <h2>AUTHORS</h2>
    <div class="form-group">
      <label>Id Submission :</label><br />
      <input
        type="text"
        class="form-control"
        id="Id Submission"
        name="Id Submission"
      />
    </div>

    <div class="form-group">
      <label>Payment :</label><br />
      <input type="file" accept=".pdf" id="photo" name="photo" />
    </div>
    <button type="submit">send</button>
  </form>
</div>
